recursive-include diffpy *.py
include AUTHORS.txt LICENSE*.txt README.rst
exclude MANIFEST.in
include diffpy/srmise/version.cfg

recursive-include doc/examples *.py *.gr *.srmise *.pwa *.dat

recursive-include doc/manual *.rst
include doc/manual/source/conf.py
include doc/manual/Makefile

