recursive-include diffpy *.py
include AUTHORS.txt INSTALL.txt LICENSE*.txt
# include README.rst
exclude MANIFEST.in
include diffpy/srmise/version.cfg
include diffpy/srmise/applications/examples/*.pwa
include diffpy/srmise/applications/examples/*.srmise
include diffpy/srmise/applications/examples/*.dat
include diffpy/srmise/documentation/userguide.pdf
